<div id="corporate_bar">
  <div class="corporate-bar-content">
    <span class="corporate-bar-brand">
      <a href="http://www.radiusnetworks.com">
        <img height="15" src="<%= image_path("corporate-bar-logo.png") %>">
        Radius Networks
      </a>
    </span>
    <ul class="corporate-bar-nav" style="float:right;">
      <li>
        <a href="http://store.radiusnetworks.com">
          <i class="fa fa-shopping-cart">
          </i>
          Shop
        </a>
      </li>
      <li>
          <% if current_user %>
            <a href="<%=sign_out_path%>">
              <i class="fa fa-sign-out"></i> Sign Out
          </a>
          <% else %>
            <a href="<%=sign_in_path%>">
              <i class="fa fa-sign-in"></i> Sign In
            </a>
          <% end %>
      </li>
    </ul>
  </div>
</div>
