<div id="corporate_bar">
  <div>
    <span class="brand">
      <a href="http://radiusnetworks.com">
        <img height="15" src="#{image_path("corporate-bar-logo.png")}">
        Radius Networks
      </a>
    </span>
    <ul style="float:right;">
      <li>
        <a href="http://store.radiusnetworks.com">
          <i class="fa fa-shopping-cart">
          </i>
          Shop
        </a>
      </li>
      <li>
        <a href="/auth/radius">
          <i class="fa fa-sign-in">
          </i>
          Sign In
        </a>
      </li>
    </ul>
  </div>
</div>
