#masquerade {
  text-align: center;
  background: #7A7A7A;
  background-image: repeating-linear-gradient(45deg, #c52f24 0px, #c52f24 25px, #d8362a 25px, #d8362a 50px, #c52f24 50px);
  color: white;
  font-size: 12px;
  padding: 4px;
  a {
    color: white;
    text-decoration: underline;
  }
}
